
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cream-color:hsl(30, 38%, 92%);
    --grey-color:hsl(228, 12%, 48%);
    --drak-cyan:hsl(158, 36%, 37%);
    --dark-blue:hsl(212, 21%, 14%);
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--cream-color);
    min-height: 100vh;
    display: grid;
    place-content: center;
}
#product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 1rem;
}
img{
    display: block;
    width: 100%;
    height: auto;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#product .product-content{
    background-color: #fff;
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#product .product-content .category{
    font-size: 14px;
    letter-spacing: 4px;
    color: var(--grey-color);
}
#product .product-content h1{
    font-family: "Fraunces", serif;
    font-size: 32px;
    margin: 20px 0;
    line-height: 1;
    color: var(--dark-blue);
}
#product .product-content p{
    font-size: 14px;
    color: var(--grey-color);
    line-height: 1.5;

}
#product .product-content .price{
    display: flex;
    align-items: center;
    margin: 20px 0;

}
#product .product-content .price .discount-price{
    font-size: 28px;
    color: var(--drak-cyan);
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin-right: 20px;
}
#product .product-content .cart{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    border: none;
    border-radius: 7px;
    width: 100%;
    background-color: var(--drak-cyan);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
#product .product-content .cart::before{
    content: '';
    background-image: url('images/icon-cart.svg');
    width: 16px;
    height: 15px;
    margin-right: 12px;
}

@media (max-width:700px){
    #product{
        grid-template-columns: 1fr;
    }
    #product img{
        border-top-right-radius: 10px;
        border-bottom-left-radius:0;    
    }
    #product .product-content{
        border-top-right-radius: 0px;
        border-bottom-left-radius:10px;
    }

}